
<div class="center-div">
  <i class="folder open icon"></i>
  <h2>Boards-EmberJS</h2>
  <p>Gestion de projet Scrum avec EmberJS</p>
</div>
<div class="center-div">
<h3>Stories</h3>
  <LinkTo @route="projects.new" @model={{project.id}} class="ui orange button">
    <i class="plus icon"></i>
    add models/Projects
  </LinkTo>
</div>

<div class="center-div">
  <table class="ui single line striped table">
    <tbody>
    {{#each this.model.stories as |story| }}

      <tr>

        <td>
          <i class="file icon"></i>
          {{story.code}}
          {{story.descriptif}}
        </td>
        <td>
          <div class="ui left labeled button" tabindex="0">
            <a class="ui basic right pointing label">
              {{story.developer}}
            </a>
            <div class="ui button">
              Modifier...
            </div>
          </div>
        </td>
      </tr>


    {{/each}}
    </tbody>
  </table>

</div>
{{outlet}}